body {
    margin: 0 auto ;
    font-family: 'Raleway', sans-serif;
    height: 50vh;
    padding: 0;
}

header{
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 1px solid grey;
    
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
}

img {
    width:30%;
    margin: calc(10%/6);
}

footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 1em;
    display:inline-block;
}

p:nth-of-type(2n) {
    float: right;
}