:root {
    --main-color: #d8eeee;
}

body {
    margin: 0 auto ;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    background: linear-gradient(45deg,var(--main-color),#f0d1d1);
}

header{
    width: 30%;
    margin-top: 3em;
    margin-left: calc(10%/6);
    margin-bottom: 3em;
    border-bottom: 1px solid grey;
}

h2 {
    font-weight: 800;
    font-size: 1.5em;
}

img {
    width:30%;
    margin: calc(10%/6);
}

footer {
    background-color: black;
    color: white;
    margin-top: 4em;
    margin-bottom: 0;
}

p {
    margin: 0;
    padding: 3em 1em;
    display:inline-block;
}

p:nth-of-type(2n) {
    float: right;
}
#heart {
    color: #ffd700;
}
